*{
    /* margin: 0; */
}

body{
    background-color: #f1f2f4;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    background-color: white;
    align-items: center;
    gap: 30px;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    position: sticky;
    width: 1400px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    min-width: 100%;
}

.searchbar{
    background-color: #f0f5ff;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 5px 10px;
    min-width: 200px;
}
.searchbar input[type="search"]{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 200;
    width: 100%;
    font-size: 16px;
}

.links{
    display: flex;
    gap: 0;
}
.links a{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    gap: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(96, 93, 93);
}
.active:hover{
    background-color: #2a55e5;
    color: white;
    border-radius: 10px;
}
.menu-wraper{
    position: relative;
    padding-right: 2.5rem;
}
.menu-dropdown{
    position: absolute;
    top: 45px;
    right: 30px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 12px rgb(161, 148, 148);
    display: none;
    z-index: 2000;
}
.menu-wraper:hover .menu-dropdown{
    display: block;
}
.dropdownItem {
    padding: 0.3rem 1.5rem;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #f1f2f4;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.superdiv{
    margin-left: 1rem;
    margin-right: 1rem;
}
.categories{
    background-color: white;
    padding: 10px 6%;
    display: flex;
    gap: -50px;
    padding: 0 100px;
    padding-top: 15px;
    padding-bottom: 0.8rem;
    margin-top: 8px;
    height: 90px;
}
.categ-card{
    flex: 1;
    box-sizing: border-box;
    height: auto;
    text-align: center;
    min-width: 75px;
}
.categ-card>h4{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-wrap: nowrap;
    margin-top: 5px;
    color: rgb(41, 40, 40);
}
.categ-card>img{
    height: 60px;
}
.banner{
    margin-bottom: 10px;
}
.banner img{
    width: 1405px;
    min-width: 100%;
    margin-top: 10px;
}
.cont{
    background-color: white;
    height: 20rem;
}
.deals{
    display: flex;
    gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 25px;
    scroll-behavior: smooth;
}
.deals::-webkit-scrollbar{
    display: none;
}

#dealsid:hover{
    transition: transform 0.2s ease;
    transform: scale(1.05);
    cursor: pointer;
}
.deals-image{
    min-width: 180px;
    height: 220px;
    background: #fff;
    text-align: center;
}
.deals-image img{
    width: 100%;
    height: 140px;
    object-fit: contain;
}
.deals-image h4{
    font-size: 14px;
    margin-top: 2px;
}
 .para {
  font-size: 14px;
  color: #555;
  white-space: nowrap;      
   overflow: hidden;        
  text-overflow: ellipsis;  
} 

.blue{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.99rem;
    row-gap: .5rem;
}
.blueimg{
    min-width: 100%;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9rem;
    padding-top: 10px;
    background: #f1f2f4;
    
}
.status{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;     
}
.product-column{
    background: #fff;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.item{
    display: flex;
    flex-direction: column;
    border: 0.0000001px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px;
    background-color: #fff;
    width: 190px;
    height: 220px;
}
.item img{
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.item:hover img{
    transform: scale(1.05);
}
.item:hover{
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}
.item{
    transition: box-shadow 0.2s ease;
}

.item img{
    transition: transform 0.2s ease;
}
.info{
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}
.item p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #1F1F1F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item .price{
    color: #388e3c;
    font-weight: 600;
    font-size: 16px;
}
.img-box{
    height: 160px;              
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.title{
    font-size: 22px;        
    color: #1f1f1f;
    font-weight: 200;
}

.boxer{
   background-color: #f9f1e6;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 420px;
    
}

.boxertext{
    padding-top: 70px;
    padding-left: 25px;
}

.boxertext h1{
    font-size: 34px;          
    font-weight: 700;
    color: #6a4204;
    margin: 0;
}

.boxertext p{
    font-size: 16px;
    color: #7e776b;
    padding-top: 15px;
    padding-bottom: 20px;
}

.boxerimg{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.boxerimg img{
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 14px;
    background: #fff;
}
.boxer button{
    align-self: flex-start;
    background-color: #ffe6cb;
    color: #6a4204;
    font-weight: 700;
    font-size: 18px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
}
.boxer button:hover{
    background-color: #ffddb0;
}


.divu{
    background-color: white;
    margin-top: 0.8rem;
    /* height: 300px; */
}
.divider{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    cursor: pointer;
    scroll-behavior: smooth;
}
.divider::-webkit-scrollbar{
    display: none;
}

.dividerimg{
    /* min-width: 180px; */
    width: 150px;
    height: 190px;
    background: #fff;
    text-align: center;
    flex-shrink: 0;
}

 .dividerpara{
    font-size: 16px;
    color: #424242;
    margin-top: 3px;
    white-space: nowrap;      
    overflow: hidden;        
    text-overflow: ellipsis;
    /* padding-top: 0px; */
    /* padding-bottom: 0; */
 }

.dividerprice{
    font-size: 14px;
    font-weight: 700;
    padding-top: 0;
    color: #212121;
}
.dividerimg img{
    width: 130px;
    height: auto;
    /* padding-bottom: 0%; */
    /* object-fit: contain; */
}


@media (max-width: 1024px) {
    .product{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product{
        grid-template-columns: 1fr;
    }

    .navbar{
        flex-direction: column;
        gap: 10px;
    }

    .links{
        justify-content: center;
        flex-wrap: wrap;
    }

    .searchbar{
        width: 100%;
    }

    .blue{
        grid-template-columns: 1fr;
    }
}