/******* Developed by Tushar Chaudhary *******/

*{
    box-sizing: border-box;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
    background-color: #f1f2f4;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    justify-content: center;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    background-color: white;
    align-items: center;
    gap: 2rem;
    padding: 10px 23px;
    justify-content: space-between;
    /* position: sticky; */
    /* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* z-index: 1000; */
    /* min-width: 100%; */
}
.hamburger{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
.logo{
    max-width: 180px;
    height: auto;
    /* flex: 0 0 auto; */
    /* padding-right: 10px; */
    /* z-index: 1000; */
}
.logo img{
    height: 40px;
}

.searchbar{
    background-color: #f0f5ff;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 6px 10px;
    /* min-width: 200px; */
    max-width: 680px;
}
.searchbar input[type="search"]{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
    height: 1.5rem;
}

.links{
    display: flex;
    gap: 0;
}
.links a{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    gap: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(96, 93, 93);
}
.loginbutton:hover{
    background-color: #2a55e5;
    color: white;
    border-radius: 10px;
    cursor: progress;
}
.menu-wraper{
    position: relative;
    padding-right: 2.5rem;
}
.menu-dropdown{
    position: absolute;
    top: 45px;
    right: 30px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 12px rgb(161, 148, 148);
    display: none;
    z-index: 2000;
}
.menu-wraper:hover .menu-dropdown{
    display: block;
}
.dropdownItem {
    padding: 0.3rem 1.5rem;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #f1f2f4;
}
 .mobile-navbar {
    background: #fff;
    padding: 10px 12px;
     position: sticky;
    top: 0;
    z-index: 1000;
}
.mobile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    font-size: 24px;
}
.mobilelogo img {
    height: 28px;
}
.right-icons {
    display: flex;
    gap: 14px;
    font-size: 20px;
}
.mobile-search {
    margin-top: 10px;
}
.mobile-search input {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 6px;
    border: none;
    background: #f0f5ff;
    font-size: 13px;
}


.superdiv{
    margin-left: 1rem;
    margin-right: 1rem;
}
.categories{
    background-color: white;
    padding: 10px 7%;
    display: flex;
    padding: 0 100px;
    padding-top: 15px;
    padding-bottom: 0.8rem;
    margin-top: 8px;
    height: 7.5rem;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.categories::-webkit-scrollbar {
    display: none;
}
.categ-card{
    flex: 1;
    box-sizing: border-box;
    min-width: 120px;
    text-align: center;
}
.categ-card>h4{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-wrap: nowrap;
    margin-top: 5px;
    color: rgb(41, 40, 40);
    line-height: 1.5;
}
.categ-card>img{
    width: 64px;
    height: 64px;
    object-fit: contain;
}
.categ-card>img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* .banner{
    margin-bottom: 10px;
    padding-bottom: 2rem;
}
.banner img{
    width: 1400px;
    min-width: 100%;
    margin-top: 10px;
} */
.sectionban{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 230px;
    background-image: url('newban.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.cont{
    background-color: white;
    height: 20rem;
}
.deals{
    display: flex;
    gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 25px;
    scroll-behavior: smooth;
}
.deals::-webkit-scrollbar{
    display: none;
}

#dealsid:hover{
    transition: transform 0.2s ease;
    transform: scale(1.05);
    cursor: pointer;
}
.deals-image{
    min-width: 180px;
    height: 220px;
    background: #fff;
    text-align: center;
}
.deals-image img{
    width: 100%;
    height: 140px;
    object-fit: contain;
}
.deals-image h4{
    font-size: 14px;
    margin-top: 2px;
}
 .para {
  font-size: 14px;
  color: #555;
  white-space: nowrap;      
   overflow: hidden;        
  text-overflow: ellipsis;  
} 

.blue{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.99rem;
    row-gap: .5rem;
}
/* .blueimg{
    min-width: 100%;
} */

.blueimg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.blueimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.9rem;
    padding-top: 10px;
    background: #f1f2f4;
    
}
.status{
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;  
    column-gap: 1rem;   
}
.product-column{
    background: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    /* flex: 1;            
    min-width: 0;  */
}
.item{
    border: 0.0000001px solid #e0e0e0;
    border-radius: 4px;
    padding: 8px;
    background-color: #fff;
    overflow: hidden;
}
.item img{
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 100%;
}
.item:hover img{
    transform: scale(1.05);
}
.item:hover{
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}
.item{
    transition: box-shadow 0.2s ease;
}

.item img{
    transition: transform 0.2s ease;
}
.info{
    padding: 10px;
    margin-top: 8px;
}
.item p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #1F1F1F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item .price{
    color: #388e3c;
    font-weight: 600;
    font-size: 16px;
}
.img-box{
    height: 170px;              
    overflow: hidden;
}

.item .title{
    font-size: 18px;        
    color: #1f1f1f;
    font-weight: 200;
    margin-bottom: 4px;
}

.boxer{
   background-color: #f9f1e6;
    padding-top: 2rem;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
}

.boxertext{
    padding-top: 70px;
    padding-left: 25px;
}

.boxertext h3{
    font-size: 30px;          
    font-weight: 700;
    color: #764614;
    margin: 0;
}

.boxertext p{
    font-size: 16px;
    color: #7e776b;
    padding-top: 2px;
    padding-bottom: 10px;
}

.boxerimg{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin: 24px 0; */

}

.boxerimg img{
    /* width: 150px; */
    height: 180px;
    border-radius: 14px;
    /* background: #fff; */
     width: 100%;
    object-fit: cover; 
}
.boxer button{
    align-self: flex-start;
    background-color: #ffe6cb;
    color: #6a4204;
    font-weight: 700;
    font-size: 18px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px;
}
.boxer button:hover{
    background-color: #ffddb0;
}


.divu{
    background-color: white;
    margin-top: 0.8rem;
}
.divider{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    cursor: pointer;
    scroll-behavior: smooth;
}
.divider::-webkit-scrollbar{
    display: none;
}

.dividerimg{
    /* min-width: 180px; */
    width: 150px;
    height: 190px;
    background: #fff;
    text-align: center;
    flex-shrink: 0;
}

 .dividerpara{
    font-size: 16px;
    color: #424242;
    margin-top: 3px;
    white-space: nowrap;      
    overflow: hidden;        
    text-overflow: ellipsis;
 }

.dividerprice{
    font-size: 14px;
    font-weight: 700;
    padding-top: 0;
    color: #212121;
}
.dividerimg img{
    width: 130px;
    height: auto;
}

.allabout{
    background-color: #F5F5F5;
    margin-top: 2.3rem;
}
.integer{
    padding-top: 1.7rem;
    padding-left: 1.4rem;
    padding-bottom: .5rem;
}

.blackfooter{
    background-color: #212121;
    color: white;
}
.total{
    display: flex;
    padding-right: 2%;
    /* min-width: 1200px; */
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid #454D5E;
}

.internal{
    display: block;
    padding: 20px 5px;
    font-size: .83rem;
    font-weight: 550;
    line-height: 1.4;
}

.footerend{
    display: flex;
    justify-content: space-evenly;
    padding: 0.8rem;
}
.footerlist{
    text-decoration: none;
    color: white;
}
.footerlist:hover{
    text-decoration: underline;
    cursor: pointer;
}
.helpline{
    display: flex;
    gap: 0.8rem;
}
.madeby{
    text-align: center; 
    font-size: x-large; 
    font-weight: bolder; 
    font-family: 'Cinzel', 
    serif; letter-spacing: 2px; 
    color: goldenrod;
}

.linebreak{
    /* width: 100%; height: 
    3px; margin: 0 auto 10px; 
    background: linear-gradient( to right, #FF9933, #FFFFFF, #138808); 
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.8);
   background-size: 300% 300%;
  animation: move 4s infinite linear; */

    width: 100%;
  height: 7px;
  margin: 0 auto 10px;
  background: linear-gradient(to right, transparent, #d4af37, transparent);
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.8);
   background-size: 300% 300%;
  animation: move 4s infinite linear;
  border-radius: 5px;

  /* width: 100%;
  height: 5px;
  margin: 0 auto 10px;
  background: linear-gradient(90deg, #ff9933, #ffffff, #138808);
  background-size: 300% 300%;
  animation: move 3s infinite linear;
  border-radius: 5px; */

  /* width:100%;
  height: 6px;
  margin: 0 auto 10px;
  background: linear-gradient( 
  90deg,
  #ff0080,
  #7928ca,
  #2afadf
   );
  background-size: 300% 300%;
  animation: move 3s infinite linear;
  border-radius: 5px; */

}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.social-links {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-links a {
  color: #d4af37;   
  font-size: 2rem;  
  transition: all 0.3s ease;
}
.social-links a:hover {
  color: #ffffff;
  transform: translateY(-3px) scale(1.15);
  text-shadow: 0 0 8px rgba(212, 175, 55, 0.9);
}   




@media (min-width: 769px) {
    .mobile-navbar {
        display: none;
    }
    .navbar {
    display: flex;
  }
}
@media (min-width: 769px) and (max-width: 963px){
    .bluedelete{
        display: none;
    }
}

@media (max-width: 769px) {
     *{
        overflow-x: hidden;
        background-color: white;
        margin: 0;
        padding: 0;
    } 
    *::-webkit-scrollbar{
        display: none;
    } 
    .superdiv{
        margin: 0;
        padding: 0;
    }  
    .hamburger{
        display: inline-block;
        gap: 0;
    }
    .navbar{
        display: none; 
    }
    .becomeSeller{
        display: none;
    }
    .searchbar{
        display: none;
    }
    .menu-wraper{
        display: none;
    }
    .categories{
        padding: 0;
        overflow-x: auto;
        gap: 0;
        scrollbar-width: none;
    }
    .sectionban{
    height: 140px;
    background-image: url('bannur.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.2rem;
    }
    .cont{
        height: 200px;
    }
    #dealsid{
        width: 60px;
        height: 90px;
    }
    .deals-image{
        min-width: 140px;
        height: 170px;
    }
    .deals{
        gap: 0;
    }
    .blue{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
     .boxertext{
        background-color: #F9F1E6;
     }
     .boxertext h3{
        background-color: #F9F1E6;
     }
     .boxertext p{
        background-color: #F9F1E6;
     }
     .boxerimg{
        background-color: #F9F1E6;
     }
     .madeby {
    font-size: 14px;      
    letter-spacing: 1px; 
    padding: 0 10px;     
    background-color: black;
  }
  .topper{
    padding-top: 1rem;
  }
  .linebreak{
    width: 100%;
  height: 3px;
  margin: 0 auto 12px;
  background-color: #000;
  background-image: linear-gradient(
    90deg,
    transparent,
    #d4af37,
    transparent
  );
  background-size: 300% 300%;
  animation: move 3s linear infinite;
  border-radius: 5px;

  }

  .social-links {
    gap: 14px;
    background-color: black;
}

  .social-links a {
    font-size: 2.5rem;  
    background-color: black;
  }


    .product{
        grid-template-columns: 1fr;
    }

    .links{
        justify-content: center;
        flex-wrap: wrap;
    }

    .searchbar{
        max-width: 100%;
    }
    .search-bar input{
        height: 36px;
        font-size: 13px;
    }
    .logo img {
        height: 34px;
    }

    .blue{
        grid-template-columns: 1fr;
    }
    .allabout{
        display: none;
    }
    .blackfooter{
        display: none;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {

    .categories{
        padding: 1rem 1rem;
    }
     .categ-card {
        width: 140px;
    }
    .desktop-nav {
        padding: 10px 14px;
        gap: 12px;
    }
    .cont{
        height: 280px;
    }
     #dealsid{
        width: 100px;
        height: 110px;
    }
    .deals-image{
        min-width: 180px;
        height: 180px;
        gap: 0;
    }
    .deals{
        gap: 0;
    }
    .sectionban{
    height: 200px;
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    }
    .blue{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        gap: 1rem;
    }

    .blackfooter{
        display: none;
    }
    .logo img {
        height: 36px;
    }

    .search-bar {
        max-width: 420px;
    }

    .search-bar input {
        height: 38px;
        font-size: 14px;
    }

    .links {
        gap: 4px;
        /* font-size: 14px; */
    }
    .product{
        grid-template-columns: 1fr 1fr;
    }
    .boxer{
        display: none;
    }

     .madeby {
    font-size: 14px;      
    letter-spacing: 1px; 
    padding: 0 10px;     
    background-color: black;
  }
  .topper{
    padding-top: 1rem;
  }
  .linebreak{
    width: 100%;
  height: 3px;
  margin: 0 auto 12px;
  background-color: #000;
  background-image: linear-gradient(
    90deg,
    transparent,
    #d4af37,
    transparent
  );
  background-size: 300% 300%;
  animation: move 3s linear infinite;
  border-radius: 5px;

  }

  .social-links {
    gap: 14px;
    background-color: black;
}

  .social-links a {
    font-size: 2.5rem;  
    background-color: black;
  }
}

@media (min-width: 769px) and (max-width: 1024px){

  .navbar {
    height: 64px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

  .logo{
    display: flex;
    align-items: center;
    min-width: 120px;
    height: 40px;
    cursor: pointer;
  }

  .searchbar{
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .searchbar input[type="search"] {
    width: 100%;
    max-width: 560px;
    background: #f1f5ff;
    border-radius: 8px;
  }

  .searchbar input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
  }

  .links {
    display: flex;
    align-items: center;
    min-width: 200px;
  }
  .cartAndseller{
    display: none;
  }

}